Experts
!Experts/Fann-Expert.mq4

Images

Include
!Include/Fann
!Include/Fann2MQL.mqh

Indicators

Libraries/*.ex5
Libraries/*.ex4
Libraries/mqlcache.dat

Logs

Projects

Scripts

Files/Data/Neuro_RightAnswersStats.csv
Files/Data/Neuro_CommonStats.csv
Files/Data/Neuro_Results.csv
Files/Data/Neuro_MSE.csv

